* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* 
.main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
} */

td {
    border: black solid 1px;
    width: 25px;
    height: 25px;
}

tr {
    border: black solid 1px;
}

.carrier {
    width: 25px
}

.carrier-cell {
    border: black solid 1px;
    width: 25px;
    height: 25px;
}